@model IPagedList<ToDoPj.Models.tToDo>

@{
    ViewBag.Title = "代辦事項";
}

@using PagedList.Mvc;
@using PagedList;

<h2>代辦事項</h2>

<p>
    @*@Html.ActionLink("建立代辦事項", "Create")*@
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                編號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().fTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().fImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().fDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.fId
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fTitle)
                </td>
                <td>
                    <img src="~/images/@item.fImage" width="32" />
                    @*@Html.DisplayFor(modelItem => item.fImage)*@
                </td>
                <td>
                    @DateTime.Parse(item.fDate.ToString()).ToShortDateString()
                    @* @Html.DisplayFor(modelItem => item.fDate)*@
                </td>
                <td>
                    @Html.ActionLink("編輯", "Update", new { id = item.fId }) |
                    @Html.ActionLink("詳細", "ReadByID", new { id = item.fId }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.fId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model,i =>Url.Action("Index", "Home", new { i, search = Request.QueryString["search"] }))
}
else
{
    @: <h3>目前無代辦事項!!</h3>
}



